<form action="/" method="GET">
    <br><label>Поиск по значению поля</label><br>
    <input name="value" type="text"><br>
    <label> Какая эта колонка?</label>
    <select name="action3">
        <option value="article_name">Название</option>
        <option value="article_author">Автор</option>
    </select><br>
    <button>Выполнить</button>
</form>
<style>
    input {
        margin-bottom: 4px;
        width: 100px;
        padding: 4px 10px;
        border: 1px solid #666;
        font-family: sans-serif;
        color: black;
        font-size: 16px;
    }
    label {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 700;
        font-family: sans-serif;
        color: black;
    }
</style>