<!DOCTYPE html>
<html lang="en">
<form method="get" action="/">
    <button type="submit" name="getAllRecords" size="28">Получить все записи</button>
    <button type="submit" name="getByID" size="28">Получить все записи по ID</button>
    <button type="submit" name="getByFieldValue" size="28">Получить все записи по значению поля</button>
    <button type="submit" name="saveRecord" size="28">Сохранение записи</button>
    <button type="submit" name="deleteRecord" size="28">Удаление записи</button>
</form>
</html>
<style>
    button{

        display: inline-block;
        outline: 0;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
        background: white;
        border: 1px solid #009879;
        height: 22px;
        padding: 0 6px;
        text-align: center;
        font-weight: 500;
        color: #0F1111;
    }
    label {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 700;
        color: black;
        font-family: sans-serif;
    }
</style>