<form action="../logout.php">
    <label>Привет, {{ name }}</label>
    <button type="submit" size="28">Выйти</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Автор</th>
    </tr>
    </thead>
    <tbody>
    {%  for row in t %}
        <tr>
            <td>{{row.article_id}}</td>
            <td>{{row.article_name}}</td>
            <td>{{row.article_author}}</td>
        </tr>
    {%  endfor %}
    </tbody>
</table>
<style>
    label {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 700;
        color: black;
        font-family: sans-serif;
    }
    .table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
    .table th,
    .table td {
        padding: 12px 15px;
    }
    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    .table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
    button {
        display: inline-block;
        outline: 0;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
        background: white;
        border: 1px solid #009879;
        height: 22px;
        padding: 0 6px;
        text-align: center;
        font-weight: 500;
        color: #0F1111;
    }
</style>